@import url('https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Raleway",sans-serif;
}
.border{
    padding: 80px;
    width: 250px;
    background:green;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    border-radius: 20px;
}