
/*=====================================
==       Responsive Area           ==
=====================================*/


@media (max-width:1199px){

}

@media (max-width:991px){

}
@media (max-width:767px){

	.wd55 {
		width: 100%;
	}
	.courses_inner .courses_item img{
		width: 100%;
	}
	.wd44 {
		width: 100%;
	}
	.course_item img{
		width: 100%;
	}
	
}

@media (max-width:575px){
	}

@media (max-width:480px){
	
	
}